body {
  font-family: Kumbh Sans, Arial;
}

.nav-container{
  display: flex;
  gap: 25px;
}

header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid gray;
  margin-right: 120px;
  margin-left: 120px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
  color: gray;
  font-size: 12px;
  position: relative;
}

.nav-bar-wrapper {
  margin-left: 50px;
  
}

header img {
  height: 15px;
}
li a:hover::after {
  opacity: 1;
}

li a::after{
  content:"";
  position: absolute;
  width: 100%;
  top: 280%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(26, 100%, 55%);
  padding: 2px;
  opacity: 0;
}